# Ensemble (voting)

In [1]:
from src.si.data import Dataset
from src.si.util import summary
from src.si.util import CrossValidationScore
import os

In [3]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'SIB/datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [4]:
# Use accuracy as scorring function
from si.util.util import accuracy_score

### Decision Tree

In [13]:
from si.supervised import DecisionTree

In [14]:
dt = DecisionTree()

TypeError: 'module' object is not callable

In [11]:
cv = CrossValidationScore(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

NameError: name 'dt' is not defined

### Logistic regression

In [16]:
from si.supervised import LogisticRegression
logreg = LogisticRegression()

TypeError: 'module' object is not callable

In [17]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

NameError: name 'logreg' is not defined

### KNN

In [20]:
from si.supervised import KNN

ModuleNotFoundError: No module named 'Model'

In [22]:
knn = KNN(7)

NameError: name 'KNN' is not defined

In [20]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.976744     0.985714
1      0.978533     0.971429
2      0.976744     0.985714

## Ensemble

In [12]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [21]:
from si.supervised import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [22]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.973166     0.950000
1      0.974955     0.964286
2      0.974955     0.964286